* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  border: none;
  text-decoration: none;
  font-family: "Courier New", Courier, monospace;
}

//animation page
.animationPage {
  width: 100%;
  height: 100%;
  position: relative;
  animation: kenburns-top 5s ease-in-out both;
  @keyframes kenburns-top {
    0% {
      transform: scale(1) translateX(0);
      transform-origin: 50% 16%;
    }
    100% {
      transform: scale(1.1) translateX(0);
      transform-origin: 50% 16%;
    }
  }
  .animationTitle {
    font-size: 60px;
    color: beige;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 12px;
    font-weight: 600;
    animation: focus-in-expand 5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;

    @keyframes focus-in-expand {
      0% {
        letter-spacing: -0.5em;
        filter: blur(12px);
        opacity: 0;
      }
      100% {
        filter: blur(0);
        opacity: 1;
      }
    }

    &:hover {
      font-size: 62px;
      color: rgb(249, 249, 120);
      cursor: pointer;
    }
  }

  .animationBgimg {
    width: 100vw;
    height: 100vh;
  }
}

// components NavbarLayout
.navbar {
  width: 100%;
  height: 70px;
  background-color: rgb(248, 248, 232);
  display: flex;
  .navbarTitle {
    width: 80%;
    // max-width: 1200px;
    display: flex;
    padding: 8px 0px 8px 320px;
    flex-direction: column;
    text-align: center;
    letter-spacing: 4px;
    color: burlywood;
    &:hover {
      cursor: pointer;
      letter-spacing: 5px;
      color: rgb(255, 212, 112);
      opacity: 0.8;
      font-size: 105%;
      font-weight: 700;
      padding: 4px 0;
      padding: 5px 0px 5px 320px;
    }
  }
  .navbarItems {
    width: 20%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    line-height: 70px;
    letter-spacing: 2px;
    .navbarIcon {
      width: 100%;
      color: rgb(120, 106, 87);
      font-size: 20px;
      font-weight: 700;
      cursor: pointer;
      &:hover {
        opacity: 0.8;
      }
    }
  }
}
