* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  border: none;
  outline: none;
  text-decoration: none;
  font-family: "Courier New", Courier, monospace;
}

.animationPage {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-animation: kenburns-top 5s ease-in-out both;
          animation: kenburns-top 5s ease-in-out both;
}
@-webkit-keyframes kenburns-top {
  0% {
    transform: scale(1) translateX(0);
    transform-origin: 50% 16%;
  }
  100% {
    transform: scale(1.1) translateX(0);
    transform-origin: 50% 16%;
  }
}
@keyframes kenburns-top {
  0% {
    transform: scale(1) translateX(0);
    transform-origin: 50% 16%;
  }
  100% {
    transform: scale(1.1) translateX(0);
    transform-origin: 50% 16%;
  }
}
.animationPage .animationTitle {
  font-size: 50px;
  color: beige;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  letter-spacing: 12px;
  font-weight: 600;
  -webkit-animation: focus-in-expand 5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: focus-in-expand 5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0);
    opacity: 1;
  }
}
.animationPage .animationTitle:hover {
  font-size: 52px;
  color: rgb(249, 249, 120);
  cursor: pointer;
}
.animationPage .animationBgimg {
  width: 100vw;
  height: 100vh;
}

.homeCenter {
  width: 100vw;
  height: calc(100vh - 50px);
  background-color: #95a7b5;
}

.navbar {
  position: fixed;
  width: 100vw;
  height: 70px;
  z-index: 999;
  background-color: rgb(248, 248, 232);
  display: flex;
}
.navbar .navbarTitle {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 8px 0px 8px 310px;
  flex-direction: column;
  text-align: center;
  letter-spacing: 4px;
  color: burlywood;
}
.navbar .navbarTitle:hover {
  cursor: pointer;
  letter-spacing: 5px;
  color: rgb(255, 212, 112);
  opacity: 0.8;
  font-size: 105%;
  font-weight: 700;
  padding: 4px 0;
  padding: 5px 0px 5px 320px;
}
.navbar .navbarItems {
  width: 20%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  line-height: 70px;
  letter-spacing: 2px;
}
.navbar .navbarItems .navbarIcon {
  width: 150px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 5px;
  color: rgb(120, 106, 87);
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}
.navbar .navbarItems .navbarIcon:hover {
  opacity: 0.8;
}

.signupDialogCenter {
  width: 100%;
  height: calc(100vh - 50px);
  background-color: #95a7b5;
  position: relative;
}
.signupDialogCenter .signupDialogBoxes {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(248, 248, 232);
  padding: 70px 10px;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  position: relative;
  box-shadow: 0 0 30px rgb(119, 119, 119);
}
.signupDialogCenter .signupDialogBoxes .signupDialogBgimg {
  width: 45%;
  padding: 20px;
  position: relative;
}
.signupDialogCenter .signupDialogBoxes .signupDialogBgimg img {
  width: 85%;
  border-radius: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 2s ease-in-out;
}
.signupDialogCenter .signupDialogBoxes .signupDialogBgimg img:nth-of-type(2):hover {
  opacity: 0;
}
.signupDialogCenter .signupDialogBoxes .signupDialogLogin {
  width: 45%;
}
.signupDialogCenter .signupDialogBoxes .signupDialogLogin .signupDialogTitle {
  font-size: 24px;
  line-height: 35px;
  letter-spacing: 1.5px;
}
.signupDialogCenter .signupDialogBoxes .signupDialogLogin #fields {
  display: flex;
  width: 300px;
  flex-direction: column;
  margin: 50px auto;
}
.signupDialogCenter .signupDialogBoxes .signupDialogLogin #fields input {
  width: 100%;
  font-size: 20px;
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
  letter-spacing: 1.5px;
}
.signupDialogCenter .signupDialogBoxes .signupDialogLogin #fields input:hover {
  opacity: 0.8;
}
.signupDialogCenter .signupDialogBoxes .signupDialogLogin .btn {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 0 auto;
}
.signupDialogCenter .signupDialogBoxes .signupDialogLogin .btn button {
  padding: 10px;
  text-align: center;
  margin-right: 10px;
  border-radius: 10px;
  letter-spacing: 1.5px;
}
.signupDialogCenter .signupDialogBoxes .signupDialogLogin .btn button:hover {
  opacity: 0.8;
}

.editCenter {
  width: 100vw;
  height: calc(100vh - 50px);
  background-color: #95a7b5;
}

.footer {
  width: 100vw;
  height: 50px;
  position: relative;
  top: 0;
  text-align: center;
  line-height: 50px;
  background-color: #192D2E;
  color: #617F7F;
  letter-spacing: 0.5px;
}
.footer:hover {
  font-weight: 800;
  letter-spacing: 1px;
}/*# sourceMappingURL=style.css.map */